<!-- hibernate.cfg.xml -->
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/test_hibernate</property>
        <property name="hibernate.connection.username">hazhir</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Other Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Mapping files -->
        <!-- Add your entity class mappings here -->
        <mapping class="ir.sleepycat.cipher.entity.User" />
    </session-factory>
</hibernate-configuration>
